Challenge Porto/Sprint 2 - Primeiro semestre/Challange_Sprint2 - AI & Chatbot/STT e TTS/Integração STT e TTS.json
[
    {
        "id": "d6e461af0516eccb",
        "type": "tab",
        "label": "Modelos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98158e7ffe201d31",
        "type": "tab",
        "label": "Speech to text",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b76d0829487be171",
        "type": "tab",
        "label": "Text to speech",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "412720137cf6a779",
        "type": "tab",
        "label": "Checkpoint Chatbot 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2512886f07676c06",
        "type": "tab",
        "label": "Checkpoint Chatbot 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de2494ab3ac7d775",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "adfc04cf9d85d857",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f938b7af95bb013",
        "type": "telegram bot",
        "botname": "segurosbikebot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "25e12ac305a565ef",
        "type": "telegram bot",
        "botname": "flintzbot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "215790fe80c4a486",
        "type": "telegram sender",
        "z": "d6e461af0516eccb",
        "name": "",
        "bot": "8f938b7af95bb013",
        "haserroroutput": false,
        "outputs": 1,
        "x": 580,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "668f43dc2e147b55",
        "type": "telegram receiver",
        "z": "d6e461af0516eccb",
        "name": "",
        "bot": "8f938b7af95bb013",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "0a74176aa079a214",
                "8c478385b89766ce"
            ],
            []
        ]
    },
    {
        "id": "8c478385b89766ce",
        "type": "debug",
        "z": "d6e461af0516eccb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "0a74176aa079a214",
        "type": "function",
        "z": "d6e461af0516eccb",
        "name": "function 1",
        "func": "msg.payload.content = \"Olá como poderiamos ajudar?\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "215790fe80c4a486"
            ]
        ]
    },
    {
        "id": "66d4bafb7cfc8432",
        "type": "inject",
        "z": "d6e461af0516eccb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Olá como podemos te ajudar?",
        "payloadType": "str",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "a98348ee93035c44"
            ]
        ]
    },
    {
        "id": "c1a3f50491b469a3",
        "type": "play audio",
        "z": "d6e461af0516eccb",
        "name": "",
        "voice": "118",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "a98348ee93035c44",
        "type": "watson-speech-to-text",
        "z": "d6e461af0516eccb",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "Zk-muPRMOWEmicHND7LxwksnaU3Qq4B07b6RvfYnzRl-",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/0ed263ca-2360-4071-ba3c-5199e079b7a2",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "c1a3f50491b469a3"
            ]
        ]
    },
    {
        "id": "c5e657c23b4dca3c",
        "type": "watson-text-to-speech",
        "z": "d6e461af0516eccb",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "wqT042kVkIU2f5GFWgJVLmk9FGlgN6HetO8oicyNfPPL",
        "payload-response": false,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/fa105387-751a-4b66-bce1-29eb6ba2fc50",
        "x": 360,
        "y": 500,
        "wires": [
            [
                "1a39dfadf8245e0f"
            ]
        ]
    },
    {
        "id": "f26a43d379fde751",
        "type": "microphone",
        "z": "d6e461af0516eccb",
        "name": "Entrada de áudio",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "c5e657c23b4dca3c"
            ]
        ]
    },
    {
        "id": "1a39dfadf8245e0f",
        "type": "debug",
        "z": "d6e461af0516eccb",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "71ef02e8ce5d0e61",
        "type": "debug",
        "z": "98158e7ffe201d31",
        "name": "Saída de áudio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "90ac8d2116fbf759",
        "type": "telegram receiver",
        "z": "98158e7ffe201d31",
        "name": "",
        "bot": "8f938b7af95bb013",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "ec6555310653a1b2",
                "848a6113d0c3b171"
            ],
            []
        ]
    },
    {
        "id": "8926c2a349f641e3",
        "type": "watson-speech-to-text",
        "z": "98158e7ffe201d31",
        "name": "Watson STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "Zk-muPRMOWEmicHND7LxwksnaU3Qq4B07b6RvfYnzRl-",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/0ed263ca-2360-4071-ba3c-5199e079b7a2",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "71ef02e8ce5d0e61"
            ]
        ]
    },
    {
        "id": "848a6113d0c3b171",
        "type": "debug",
        "z": "98158e7ffe201d31",
        "name": "Entrada de áudio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec6555310653a1b2",
        "type": "function",
        "z": "98158e7ffe201d31",
        "name": "Proc Entrada",
        "func": "msg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "8926c2a349f641e3"
            ]
        ]
    },
    {
        "id": "a912eaee0b9c8ae7",
        "type": "telegram sender",
        "z": "b76d0829487be171",
        "name": "",
        "bot": "8f938b7af95bb013",
        "haserroroutput": false,
        "outputs": 1,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "7be59ee5c0c4b5e6"
            ]
        ]
    },
    {
        "id": "9b9309e70f146bf2",
        "type": "debug",
        "z": "b76d0829487be171",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "5532f677342f021d",
        "type": "debug",
        "z": "b76d0829487be171",
        "name": "Resposta enviada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "22271d882f62be1c",
        "type": "watson-text-to-speech",
        "z": "b76d0829487be171",
        "name": "Watson TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "wqT042kVkIU2f5GFWgJVLmk9FGlgN6HetO8oicyNfPPL",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/fa105387-751a-4b66-bce1-29eb6ba2fc50",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "9b9309e70f146bf2",
                "dde0dda751470945",
                "2a6799f1ea9280dd"
            ]
        ]
    },
    {
        "id": "74f9d8322a134651",
        "type": "inject",
        "z": "b76d0829487be171",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Como podemos te ajudar?",
        "payloadType": "str",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "22271d882f62be1c"
            ]
        ]
    },
    {
        "id": "dde0dda751470945",
        "type": "play audio",
        "z": "b76d0829487be171",
        "name": "",
        "voice": "0",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "2a6799f1ea9280dd",
        "type": "function",
        "z": "b76d0829487be171",
        "name": "function ",
        "func": "msg.payload = {\n    chatId: 5137780791,\n    type: \"voice\",\n    content: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "a912eaee0b9c8ae7",
                "5532f677342f021d"
            ]
        ]
    },
    {
        "id": "7be59ee5c0c4b5e6",
        "type": "debug",
        "z": "b76d0829487be171",
        "name": "Resposta recebida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "ad2d0466087cb401",
        "type": "debug",
        "z": "412720137cf6a779",
        "name": "Resposta para o telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "ced342b605cae1de",
        "type": "watson-assistant-v2",
        "z": "412720137cf6a779",
        "name": "WA PetShop",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/faec9365-de8b-44cb-b12f-0e77185b180e",
        "assistant_id": "2c30d5c0-8eed-4253-9a18-5d83b2f6511c",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "77bf07227af4f848",
                "ad2d0466087cb401"
            ]
        ]
    },
    {
        "id": "593a8335728141da",
        "type": "telegram receiver",
        "z": "412720137cf6a779",
        "name": "",
        "bot": "25e12ac305a565ef",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "991a3cb7407bb7b3",
                "2234a804d6b6a211"
            ],
            []
        ]
    },
    {
        "id": "991a3cb7407bb7b3",
        "type": "debug",
        "z": "412720137cf6a779",
        "name": "Entrada para o telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "2234a804d6b6a211",
        "type": "function",
        "z": "412720137cf6a779",
        "name": "Function 1",
        "func": "msg.params ={\n    \"session_id\": msg.payload.session_id !== 'undefined' ? msg.payload\n    };\n    msg.chatId = msg.payload.chatId;\n    msg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "ced342b605cae1de"
            ]
        ]
    },
    {
        "id": "207bfd5639503c53",
        "type": "telegram sender",
        "z": "412720137cf6a779",
        "name": "",
        "bot": "25e12ac305a565ef",
        "haserroroutput": false,
        "outputs": 1,
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "77bf07227af4f848",
        "type": "function",
        "z": "412720137cf6a779",
        "name": "Function 2",
        "func": "msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.generic[0].text\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "207bfd5639503c53"
            ]
        ]
    },
    {
        "id": "e98b716588032991",
        "type": "comment",
        "z": "412720137cf6a779",
        "name": "Exercício 1",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "a661f0b483666318",
        "type": "comment",
        "z": "2512886f07676c06",
        "name": "Exercício 2",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "7d1b296a4ecfac54",
        "type": "inject",
        "z": "2512886f07676c06",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Olá como posso ajudar",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "8d31d9e3cbe6ef3f"
            ]
        ]
    },
    {
        "id": "2f5b5f990b00f8f8",
        "type": "microphone",
        "z": "2512886f07676c06",
        "name": "MIC",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "5aab0c5fc442eaa1"
            ]
        ]
    },
    {
        "id": "8d31d9e3cbe6ef3f",
        "type": "watson-speech-to-text",
        "z": "2512886f07676c06",
        "name": "IBM STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "Zk-muPRMOWEmicHND7LxwksnaU3Qq4B07b6RvfYnzRl-",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/0ed263ca-2360-4071-ba3c-5199e079b7a2",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "576d5eb3c4951719"
            ]
        ]
    },
    {
        "id": "5aab0c5fc442eaa1",
        "type": "watson-text-to-speech",
        "z": "2512886f07676c06",
        "name": "IBM TTS",
        "lang": "de-DE",
        "langhidden": "",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "wqT042kVkIU2f5GFWgJVLmk9FGlgN6HetO8oicyNfPPL",
        "payload-response": false,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/fa105387-751a-4b66-bce1-29eb6ba2fc50",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "05748f795462b117"
            ]
        ]
    },
    {
        "id": "576d5eb3c4951719",
        "type": "play audio",
        "z": "2512886f07676c06",
        "name": "",
        "voice": "118",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "05748f795462b117",
        "type": "debug",
        "z": "2512886f07676c06",
        "name": "Mensagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 340,
        "wires": []
    }
]